<h1>User Profile</h1>

<%= render 'user_info', user: @user %>

<h2>Books by <%= @user.name %></h2>
<ul>
  <% @user.books.each do |book| %>
    <li>
      <%= image_tag book.user.get_profile_image(100,100) %>
      Title:<%= book.title %>
      Opinion:<%= book.body %>
      <%= link_to 'Show', book_path(book.id) %>
    </li>
  <% end %>
</ul>