<%= render 'list', book: @book_new %>
<%= image_tag @book.user.get_profile_image(100,100) %>
<%= @book.user.name %>
Title:<%= @book.title %>
Opinion:<%= @book.body %>


<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', books_path %>
<div class="container">
  <div class="row">
    <div class="col">
      test
    </div>
    <div class="col">
      テスト
    </div>
  </div>
</div>